.navbar {
    position: relative;
    background: rgba(0, 0, 0, 0.983);
    border-bottom: 2px solid #ff000047
}

.navbar-nav li a {
    color: white !important;
    border-bottom: 2px transparent;
    transition: 0.2s;
}

.navbar-nav li a:hover {
    border-bottom: 2px solid #ff0000;
}

.navbar-nav li {
    padding: 0 20px !important;
}

.navbar-brand {
    position: absolute;
}

.title {
    margin: 40px 0px 0px 0px;
    text-align: center;
    font-size: 2.4rem;
}

.subtitle {
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.structure {
    background-color: black;
    color: white;
}

.destaque {
    color: red;
}

.my-5 {
    align-items: center;
}

.carousel{
    margin: auto;
    width: 85%;
    align-items: center;
}

.bt-funny{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #fff;
    border-radius: 10px;

}

.card{
    background-color: red;
    color: white;
}

.cards{
    margin: 240px 0 0 0 !important;
}

.card-galeria img{
    width: auto;
    height: 300px;
}

.galeria{
    padding: 0 100px 0 100px;
    margin: 0px;
}

.titulo-secao{
    text-align: left;
    color: red;
    padding: 100px 100px 0 100px;
}